# RAG Library Requirements
llama-index==0.12.41
# HF Embeddings
llama-index-embeddings-huggingface==0.5.4
llama-index-embeddings-huggingface-api==0.3.1
# HF LLMs
llama-index-llms-huggingface==0.5.0
llama-index-llms-huggingface-api==0.4.3

fastapi==0.115.9
faiss-cpu==1.11.0
llama-index-vector-stores-faiss==0.4.0
llama-index-vector-stores-chroma==0.4.1
llama-index-vector-stores-azurecosmosmongo==0.6.0
uvicorn==0.34.2
asyncio==3.4.3
aiorwlock==1.5.0
httpx==0.27.0
openai==1.97.1

tree-sitter==0.23.2
tree_sitter_languages==1.10.2
tree-sitter-language-pack==0.7.3
# Metrics collection
prometheus-client>=0.17.0