# GitHub Action to automate the identification of common misspellings in text files.
# https://github.com/codespell-project/actions-codespell
# https://github.com/codespell-project/codespell
name: codespell
on: [push, pull_request]
jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@8d1a4b1bd974b8082be0842c2e7e57c8bf6b9b63
        with:
          check_filenames: true
          skip: ./.git,./.github/workflows/codespell.yaml,.git,*.png,*.jpg,*.svg,*.sum,./vendor,go.sum,./website/package-lock.json,./website/yarn.lock,./presets/workspace/test/falcon-benchmark/plot.ipynb
          ignore_words_list: "AKS,aks,complies,ro,NotIn"
